<%= console %>
<section class="section">
  <div class="container">
    Salu2, esta consola tiene mas poder del que puedes imaginar, asi que procura no jugar
    demasiado con ella. Está aquí para apoyarte por si tuviste problemas al instalar ruby.
    Por favor, no hagas daño a los demás y toma mucha agua :)
  </div>
</section>
