<section class="section">
  <div class="container">
    <h2 class="title"> Cosas monas </h2> 

    <div class="list">
      <%= link_to "Planning", "https://docs.google.com/document/d/1PSu5OFBULiY5LL-oS8kGuysOqgCnHzjXtX26QJfoSZ8/edit?usp=sharing", class: "list-item" %>
      <%= link_to "Session 1", "https://docs.google.com/presentation/d/1RrztwY1EFompckh6p5XQECq4z2EUYCF_-K3IwHEM0rc/edit?usp=sharing", class: "list-item" %>
    </div>

  </div>
</section>
