<section class="section">
  <div class="container">
    <h2 class="title"> Cosas monas </h2> 

    <div class="list">
      <%= link_to "Planning", "https://docs.google.com/document/d/1PSu5OFBULiY5LL-oS8kGuysOqgCnHzjXtX26QJfoSZ8/edit?usp=sharing", class: "list-item" %>
      <%= link_to "Session 1 Introduction to Ruby", "https://docs.google.com/presentation/d/1RrztwY1EFompckh6p5XQECq4z2EUYCF_-K3IwHEM0rc/edit?usp=sharing", class: "list-item" %>
      <%= link_to "Session 2 Ruby Fundamentals", "https://docs.google.com/presentation/d/1Tczr910RUwkgLQpyDCO5s79R92A912A3mUkIC878Qc4/edit?usp=sharing", class: "list-item" %>
      <%= link_to "Session 3 OOP on Ruby", "https://docs.google.com/presentation/d/1h7QRClV5CP7pNK918Kt8ybenGp0AA2otZViqj7mzNNM/edit?usp=sharing", class: "list-item" %>
    </div>

    El día de hoy, Viernes 4 de Octubre no podré asistir por cuestiones laborales a impartir el curso :sad:
    Sin embargo, para poderles acreditar la clase de hoy, requeriré que me muestren avances de la página, y los evaluaré con lo siguiente:
    <ul>
      <li> -  Añadir funciones de <b> Edit </b>, <b> Update </b> y <b> Delete </b> </li>
      <li> -  Añadir CSS para estilizar las vistas. Pueden usar cualquier framework de CSS: Bootstrap, Materialize, Bulma (recomendación personal uwu), etc </li>
    </ul>
    <br>
    Puede ser en equipos de hasta 4 changos, de preferencia 2 o 3 para que todos puedan moverle al código y practicar. Sin embargo, dado que pocos lograron instalar exitosamente Ruby on Rails,
    se permitirán los 4.

    Les dejo por aquí algo de Bibliografía para que se puedan basar en ella:
    <ul>
      <li> -  <a href="https://github.com/jbrizuela2/Fasbok"> Repositorio de lo que se hizo la clase anterior </a> </li>
      <li> -  <a href="https://guides.rubyonrails.org/action_controller_overview.html"> Action Controller </a> </li>
      <li> -  <a href="https://guides.rubyonrails.org/active_record_basics.html"> Active Record </a> </li>
      <li> -  <a href="https://medium.com/@nancydo7/ruby-on-rails-crud-tutorial-899117710c7a"> Un tutorial que encontré por allí xd </a> </li>
      <li> -  <a href="https://bulma.io/"> Documentación de Bulma.io  </a> </li>
      <li> -  <a href="https://getbootstrap.com/"> Documentación de Bootstrap  </a> </li>
    </ul>
    <br> 
    Cualquier otra duda, pueden enviarme mensaje a <a href="mailto:juan.brizuela@michelada.io"> juan.brizuela@michelada.io </a> <br>

    P.D: En un rato más les subiré una presentación de lo que hemos visto hasta ahora (o quizá no :'v), para que los que no han asistido puedan ponerse al corriente uwu  <br>
    P.D2: Buen fin de Semana :D
  </div>
</section>
